{% extends 'loginTemplate.html.twig' %}

{% block header %} 
	This is a title	
{% endblock %}

{% block body %}
		
		<h1> test </h1>
		
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}