{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>

  {% block stylesheets %}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

     {% endblock %}
{% endblock %}

{% block body %}

<div class="right_col" role="main" style="min-height: 3742px;">
<div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2> Raccourcis  </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br>

                <a class="btn btn-app" href="/template/add">
                  <i class="fa fa-plus"></i> Ajouter template
                </a>

</table>


</div>
</div>
          </div>
          </div>

  <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Liste des templates  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

  <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
<h1> Templates  </h1>
<table  id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info" role="grid" aria-describedby="datatable_info">
<thead>
<tr role="row">
<th> Titre </th>
<th> Categorie  </th>
<th> Client </th>
<th> Commentaire </th>
<th> Sujet </th>
<th> Action </th>
</tr>
</thead>

{% for template in templates %}
	<tr>
		<td> {{ template.titre }} </td>
		<td>
			{% for entry in template.categorie %}
				{{ entry.nomCategorie }}
			{% endfor %}
		</td>
        <td> {{ template.client.clientName }} </td>
        <td> {{ template.commentaire }} </td>
        <td> {{ template.sujet }}</td>
		<td>
<a href="{{path('template_update',{'idTemplate' : template.Id})}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"> </i>  Mettre à jour </a>
<a href="{{path('template_diffusion_send',{'idTemplate' : template.Id})}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-envelope"> </i>  Envoyer Mail </a>
<a href="{{path('template_delete',{'idTemplate' : template.Id})}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-trash"> </i>  Supprimer template </a>
<a href="{{path('information_diffusion_client_history',{'idTemplate' : template.Id})}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-check"> </i>  Historique </a>



     </td>
    </tr>


{% endfor %}

</table>

				  </div>
				  </div>
				</div>
			  </div>
  </div>
</div>



{% endblock %}

 {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}
