{% extends 'dashboard.html.twig' %}

{% block header %}
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


  {% block stylesheets %}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

     {% endblock %}
{% endblock %}

{% block body %}

{% set pageTitle = " Ajouter Template "%}

<div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Modifier Client <small> Décrire l'incident en Français</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

{{ form_start(form) }}
<label> Client </label>
{{ form_widget(form.client, {'attr' : {'class' : 'select2_multiple form-control', 'placeholder' : 'Nom Client' } }) }} <br/>

<label> Titre </label>
{{ form_widget(form.titre, {'attr' : {'class' : 'form-control', 'placeholder' : '[Cdiscount]' } }) }}
<br/>
<label> Addresse d'envoi </label>
{{ form_widget(form.destinataires, {'attr' : {'class' : 'form-control', 'placeholder' : 'exemple@cdiscount.com;' } }) }}
<br/>
<label> Adresses d'envoie en copie </label>
{{ form_widget(form.destEnCopie, {'attr' : {'class' : 'form-control', 'placeholder' : 'exemple@cdiscount.com;' } }) }}
<br/>
<label> commentaires </label>
{{ form_widget(form.commentaire, {'attr' : {'class' : 'form-control', 'placeholder' : 'Commentaires' } }) }} <br>

<label> sujet </label>
{{ form_widget(form.sujet, {'attr' : {'class' : 'form-control', 'placeholder' : 'Sujet pour le mail' } }) }} <br>
<label> categorie </label>
{{ form_widget(form.categorie, {'attr' : {'class' : 'form-control', 'placeholder' : 'Categorie' } }) }} <br>
<br/>


<label> Variables personnalisés </label>
<table>
  <tr>
    <td class="variables" data-prototype="{{ form_widget(form.variables.vars.prototype)|e('html_attr') }}"></td>
  </tr>
</table> <br>
<div class="addTag"> </div>

<label> Template incident
{{ form_widget(form.template, {'attr' : {'class' : 'form-control', 'placeholder' : 'Sujet pour le mail' } }) }} <br>
</label><br/>


<input type="submit" class="btn btn-success" value="Ajouter Template"> </input>
{{ form_end(form) }}

                  </div>
                  </div>
                </div>
              </div>
        </div>

{% endblock %}

 {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}
